@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  
  }
  

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  @apply  bg-Back font-Poppins
}

h1 {
  @apply text-xl md:text-3xl font-extrabold
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'PoppinsBold';
  src: url('./fonts/Poppins-Bold.otf') format('opentype');
}

/* code {
  @apply inline-block bg-gray-100 p-1 rounded font-mono text-xs whitespace-pre-wrap;
}

pre {
  @apply whitespace-pre overflow-x-auto max-w-full;
} */
